body {
  background-color: silver;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

footer div {
  color: black;
}

footer a {
  color: white;
}
