#github-mark {
   margin: -5px 1px;
}

#github-mark:hover {
  opacity: 0.7
}

#linkedin {
  margin: -3px 0px;
}

#linkedin:hover {
 opacity: 0.7
}

body {
  background-color: rgb(65, 65, 65);
}

.card {
  background-color: #a4d4f5
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

footer div {
  color: black;
}

footer a {
  color: white;
}
